body {
    font-family: Arial, sans-serif;
    background-color: #181818;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
}

form {
    background: #181818;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    border: 3px solid #ccc
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 16px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    
}

input[type="text"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
    background-color: green;
    color: rgb(42, 33, 33);
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0a6b05;
}

#responseMessage {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

#responseMessage.success {
    color: green;
}

#responseMessage.error {
    color: red;
}
.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Butonlar arasındaki boşluk */
    margin-top: 10px;
    justify-content: flex-start;
}

.category-buttons button {
    width: 60px; /* Sabit genişlik */
    height: 60px; /* Sabit yükseklik (kare formu için) */
    background-color: #f0f0f0;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Daha küçük yazı boyutu */
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-buttons button.selected {
    background-color: green;
    color: white;
}

.selected {
    background-color: #4CAF50; /* Yeşil arka plan */
    color: white;
}

form#postForm label[for="title"] {
    color: white; /* Yazı rengini beyaz yap */
    font-size: 16px; /* İsteğe bağlı: Yazı boyutunu ayarla */
    font-weight: bold; /* İsteğe bağlı: Yazıyı kalın yap */
}
form#postForm label[for="content"] {
    color: white; /* Yazı rengini beyaz yap */
    font-size: 16px; /* İsteğe bağlı: Yazı boyutunu ayarla */
    font-weight: bold; /* İsteğe bağlı: Yazıyı kalın yap */
}


